<?xml version="1.0"?>
<config>
    <modules>
        <Sandfox_CouponMessages>
            <version>1.0.0</version>
        </Sandfox_CouponMessages>
    </modules>
    <global>
        <helpers>
            <sandfox_couponmessages>
                <class>Sandfox_CouponMessages_Helper</class>
            </sandfox_couponmessages>
        </helpers>
        <models>
            <sandfox_couponmessages>
                <class>Sandfox_CouponMessages_Model</class>
            </sandfox_couponmessages>
        </models>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <sandfox_couponmessages>
                        <type>singleton</type>
                        <class>Sandfox_CouponMessages_Model_Observer</class>
                        <method>salesQuoteCollectTotalsAfter</method>
                    </sandfox_couponmessages>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <sandfox_couponmessages>
                    <files>
                        <default>Sandfox_CouponMessages.csv</default>
                    </files>
                </sandfox_couponmessages>
            </modules>
        </translate>
    </frontend>
</config>